#QSelectAddGroupOrAddFriendWnd {
    background-color: rgb(243, 243, 243);
    border-radius: 4px;
    border: 1px solid rgb(130, 135, 144);
    min-height: 70px;
}

QPushButton {
    color: black;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: rgb(243, 243, 243);
    /* font-size: 15px; */
    min-height: 30px;
}

QPushButton:hover {
    background-color: rgb(234, 234, 234);
}

QPushButton:pressed {
    background-color: rgb(234, 234, 234);
}